In [3]:
pwd

'D:\\assessment'

In [4]:
string="Hi My name is vinay reddy."

In [5]:
dir(string)

['__add__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getnewargs__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mod__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__rmod__',
 '__rmul__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'capitalize',
 'casefold',
 'center',
 'count',
 'encode',
 'endswith',
 'expandtabs',
 'find',
 'format',
 'format_map',
 'index',
 'isalnum',
 'isalpha',
 'isascii',
 'isdecimal',
 'isdigit',
 'isidentifier',
 'islower',
 'isnumeric',
 'isprintable',
 'isspace',
 'istitle',
 'isupper',
 'join',
 'ljust',
 'lower',
 'lstrip',
 'maketrans',
 'partition',
 'replace',
 'rfind',
 'rindex',
 'rjust',
 'rpartition',
 'rsplit',
 'rstrip',
 'split',
 'splitlines',
 'startswith',
 'strip',
 'swapcase',
 'title',
 'translate',
 'upper',
 'zfill']

In [6]:
string.upper()

'HI MY NAME IS VINAY REDDY.'

In [7]:
string.splitlines()

['Hi My name is vinay reddy.']

In [8]:
string.split('i')

['H', ' My name ', 's v', 'nay reddy.']

In [9]:
string.isspace()

False

In [10]:
string.isnumeric()

False

In [11]:
string.find('a')

7

In [12]:
string.replace('a','z')

'Hi My nzme is vinzy reddy.'

In [13]:
string.swapcase()

'hI mY NAME IS VINAY REDDY.'

In [14]:
string.title()

'Hi My Name Is Vinay Reddy.'

In [15]:
string.startswith("hi")

False

In [16]:
string.startswith('Hi')

True

In [17]:
string.casefold()

'hi my name is vinay reddy.'

In [18]:
string.split(" ")

['Hi', 'My', 'name', 'is', 'vinay', 'reddy.']

In [19]:
"*".join(string)

'H*i* *M*y* *n*a*m*e* *i*s* *v*i*n*a*y* *r*e*d*d*y*.'