In [1]:
import numpy as np
import pandas as pd

In [2]:
data = pd.read_csv(r"D:\notes\bank.csv")

In [3]:
data.head()

,age,job,marital,education,default,balance,housing,loan,contact,day,month,duration,campaign,pdays,previous,poutcome,deposit
0,59,admin.,married,secondary,no,2343,yes,no,unknown,5,may,1042,1,-1,0,unknown,yes
1,56,admin.,married,secondary,no,45,no,no,unknown,5,may,1467,1,-1,0,unknown,yes
2,41,technician,married,secondary,no,1270,yes,no,unknown,5,may,1389,1,-1,0,unknown,yes
3,55,services,married,secondary,no,2476,yes,no,unknown,5,may,579,1,-1,0,unknown,yes
4,54,admin.,married,tertiary,no,184,no,no,unknown,5,may,673,2,-1,0,unknown,yes

In [4]:
data.isnull().any()

age          False
job          False
marital      False
education    False
default      False
balance      False
housing      False
loan         False
contact      False
day          False
month        False
duration     False
campaign     False
pdays        False
previous     False
poutcome     False
deposit      False
dtype: bool

In [5]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 11162 entries, 0 to 11161
Data columns (total 17 columns):
age          11162 non-null int64
job          11162 non-null object
marital      11162 non-null object
education    11162 non-null object
default      11162 non-null object
balance      11162 non-null int64
housing      11162 non-null object
loan         11162 non-null object
contact      11162 non-null object
day          11162 non-null int64
month        11162 non-null object
duration     11162 non-null int64
campaign     11162 non-null int64
pdays        11162 non-null int64
previous     11162 non-null int64
poutcome     11162 non-null object
deposit      11162 non-null object
dtypes: int64(7), object(10)
memory usage: 1.4+ MB

In [6]:
x=data.iloc[:,4:16]
y=data.iloc[:,16]

In [7]:
x

,default,balance,housing,loan,contact,day,month,duration,campaign,pdays,previous,poutcome
0,no,2343,yes,no,unknown,5,may,1042,1,-1,0,unknown
1,no,45,no,no,unknown,5,may,1467,1,-1,0,unknown
2,no,1270,yes,no,unknown,5,may,1389,1,-1,0,unknown
3,no,2476,yes,no,unknown,5,may,579,1,-1,0,unknown
4,no,184,no,no,unknown,5,may,673,2,-1,0,unknown
5,no,0,yes,yes,unknown,5,may,562,2,-1,0,unknown
6,no,830,yes,yes,unknown,6,may,1201,1,-1,0,unknown
7,no,545,yes,no,unknown,6,may,1030,1,-1,0,unknown
8,no,1,yes,no,unknown,6,may,608,1,-1,0,unknown
9,no,5090,yes,no,unknown,6,may,1297,3,-1,0,unknown
10,no,100,yes,no,unknown,7,may,786,1,-1,0,unknown
11,no,309,yes,no,unknown,7,may,1574,2,-1,0,unknown
12,no,199,yes,yes,unknown,7,may,1689,4,-1,0,unknown
13,no,460,yes,no,unknown,7,may,1102,2,-1,0,unknown
14,no,703,yes,no,unknown,8,may,943,2,-1,0,unknown
15,no,3837,yes,no,unknown,8,may,1084,1,-1,0,unknown
16,no,611,yes,no,unknown,8,may,541,3,-1,0,unknown
17,no,-8,yes,no,unknown,8,may,1119,1,-1,0,unknown
18,no,55,yes,no,unknown,8,may,1120,2,-1,0,unknown
19,no,168,yes,yes,unknown,8,may,513,1,-1,0,unknown
20,no,785,yes,no,unknown,8,may,442,2,-1,0,unknown
21,no,2067,yes,no,unknown,8,may,756,1,-1,0,unknown
22,no,388,yes,no,unknown,8,may,2087,2,-1,0,unknown
23,no,-192,yes,no,unknown,8,may,1120,2,-1,0,unknown
24,no,381,yes,no,unknown,8,may,985,2,-1,0,unknown
25,no,40,yes,no,unknown,9,may,617,4,-1,0,unknown
26,no,22,yes,no,unknown,9,may,483,3,-1,0,unknown
27,no,3,yes,no,unknown,9,may,929,3,-1,0,unknown
28,no,307,yes,no,unknown,9,may,538,1,-1,0,unknown
29,no,759,yes,no,unknown,9,may,710,1,-1,0,unknown
...,...,...,...,...,...,...,...,...,...,...,...,...
11132,no,-325,yes,yes,unknown,21,may,171,1,-1,0,unknown
11133,no,1594,yes,no,cellular,17,apr,110,1,260,5,failure
11134,no,2596,no,no,telephone,18,nov,15,2,-1,0,unknown
11135,no,115,no,no,unknown,6,jun,201,1,-1,0,unknown
11136,no,0,yes,no,cellular,8,sep,76,1,-1,0,unknown
11137,no,247,no,no,unknown,15,may,213,2,-1,0,unknown
11138,no,235,yes,no,telephone,28,aug,688,6,-1,0,unknown
11139,no,2593,no,no,unknown,27,may,662,7,-1,0,unknown
11140,no,2166,yes,no,unknown,28,may,23,17,-1,0,unknown
11141,no,130,yes,no,cellular,6,may,302,2,-1,0,unknown
11142,no,48,no,yes,cellular,17,nov,591,1,-1,0,unknown
11143,no,189,yes,yes,cellular,21,jul,105,2,-1,0,unknown
11144,no,0,yes,no,unknown,15,may,229,1,-1,0,unknown
11145,no,-134,no,no,cellular,12,may,243,1,271,4,failure
11146,yes,23,no,yes,cellular,4,feb,149,2,-1,0,unknown
11147,no,0,no,no,cellular,21,nov,175,4,-1,0,unknown
11148,no,1,yes,no,unknown,8,may,102,1,-1,0,unknown
11149,no,3317,no,no,cellular,19,nov,231,2,-1,0,unknown
11150,no,355,no,no,cellular,21,aug,314,3,-1,0,unknown
11151,no,917,yes,no,unknown,20,may,292,1,-1,0,unknown
11152,no,390,yes,no,cellular,15,jul,659,3,-1,0,unknown
11153,no,35,no,no,telephone,9,nov,208,1,-1,0,unknown
11154,no,523,yes,yes,cellular,8,jul,113,1,-1,0,unknown
11155,no,80,yes,yes,cellular,21,nov,38,2,172,2,failure
11156,no,-72,yes,no,cellular,7,jul,273,5,-1,0,unknown
11157,no,1,yes,no,cellular,20,apr,257,1,-1,0,unknown
11158,no,733,no,no,unknown,16,jun,83,4,-1,0,unknown
11159,no,29,no,no,cellular,19,aug,156,2,-1,0,unknown
11160,no,0,no,yes,cellular,8,may,9,2,172,5,failure
11161,no,0,no,no,cellular,9,jul,628,1,-1,0,unknown

In [8]:
from sklearn.preprocessing import OneHotEncoder
from sklearn.compose import ColumnTransformer
ct=ColumnTransformer([("oh",OneHotEncoder(),[0,2,3,4,6,11])],remainder="passthrough")

x=ct.fit_transform(x)

In [9]:
x

array([[  1.,   0.,   0., ...,   1.,  -1.,   0.],
       [  1.,   0.,   1., ...,   1.,  -1.,   0.],
       [  1.,   0.,   0., ...,   1.,  -1.,   0.],
       ...,
       [  1.,   0.,   1., ...,   2.,  -1.,   0.],
       [  1.,   0.,   1., ...,   2., 172.,   5.],
       [  1.,   0.,   1., ...,   1.,  -1.,   0.]])

In [10]:
x.shape

(11162, 31)

In [11]:
from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.2,random_state=0)

In [12]:
x_test

array([[  1.,   0.,   0., ...,   1., 336.,   2.],
       [  1.,   0.,   1., ...,   1., 192.,   4.],
       [  1.,   0.,   1., ...,   2.,  -1.,   0.],
       ...,
       [  1.,   0.,   1., ...,   2.,  -1.,   0.],
       [  1.,   0.,   1., ...,   1.,  -1.,   0.],
       [  1.,   0.,   0., ...,   2.,  -1.,   0.]])

In [13]:
from sklearn.linear_model import LogisticRegression
lgr=LogisticRegression()
lgr.fit(x_train,y_train)

C:\Users\Priyanka\Anaconda3\lib\site-packages\sklearn\linear_model\logistic.py:432: FutureWarning: Default solver will be changed to 'lbfgs' in 0.22. Specify a solver to silence this warning.
  FutureWarning)

LogisticRegression(C=1.0, class_weight=None, dual=False, fit_intercept=True,
                   intercept_scaling=1, l1_ratio=None, max_iter=100,
                   multi_class='warn', n_jobs=None, penalty='l2',
                   random_state=None, solver='warn', tol=0.0001, verbose=0,
                   warm_start=False)

In [14]:
ypred = lgr.predict(x_test)

In [15]:
y_test

9058      no
3279     yes
6502      no
9327      no
9965      no
3212     yes
3032     yes
10620     no
4606     yes
1978     yes
2669     yes
6137      no
3125     yes
4548     yes
6327      no
8466      no
1218     yes
9213      no
4145     yes
125      yes
1550     yes
8554      no
1461     yes
8751      no
10882     no
4030     yes
10073     no
5924      no
6581      no
6523      no
        ...
10067     no
10035     no
8536      no
8065      no
3889     yes
5344      no
3078     yes
8229      no
2862     yes
8022      no
2183     yes
4772     yes
2350     yes
3353     yes
9784      no
9445      no
9929      no
785      yes
6154      no
9931      no
1893     yes
3245     yes
6798      no
9341      no
8799      no
6003      no
5606      no
4808     yes
3697     yes
9952      no
Name: deposit, Length: 2233, dtype: object

In [16]:
ypred

array(['no', 'yes', 'no', ..., 'yes', 'no', 'no'], dtype=object)

In [17]:
from sklearn.metrics import accuracy_score
accuracy=accuracy_score(ypred,y_test)

In [18]:
accuracy

0.8181818181818182

In [19]:
lgr.predict(ct.transform([["no",733,"no","no","unknown",16,"jun",83,4,-1,0,"unknown"]]))

array(['no'], dtype=object)