HERE I AM USING ANN FOR REGRESSION

In [1]:
import numpy as np
import pandas as pd

In [2]:
data = pd.read_csv(r"D:\datasets\housing1.csv")

In [3]:
data

     no of years old   cost
0               0.00   1500
1               0.10   1550
2               0.17   1560
3               0.40   1800
4               0.70   2000
5               1.10   2300
6               1.30   2500
7               1.60   2750
8               1.80   2900
9               2.00   3200
10              2.40   3650
11              2.70   3900
12              3.10   4250
13              3.50   4600
14              3.90   4900
15              4.25   5270
16              4.65   5700
17              4.90   5950
18              5.12   6120
19              5.33   6333
20              5.67   6698
21              5.90   6920
22              6.40   7345
23              6.65   7560
24              6.90   7999
25              7.12   8120
26              7.45   8350
27              7.89   8900
28              8.40   9750
29              8.80  10250
30              9.70  11400
31             10.50  13000
32             11.30  14100
33             11.90  14900
34             12.60  15600
35             13.11  16250
36             14.21  17800
37             14.76  18450
38             15.47  19110
39             15.89  19630
40             16.34  20870
41             17.50  21950
42             17.67  22150
43             19.00  24650
44             19.50  28210
45             19.90  30100

In [4]:
data.isnull().any()

 no of years old    False
cost                False
dtype: bool

In [5]:
x = data.iloc[:,0:1].values
y = data.iloc[:,1].values

In [6]:
x

array([[ 0.  ],
       [ 0.1 ],
       [ 0.17],
       [ 0.4 ],
       [ 0.7 ],
       [ 1.1 ],
       [ 1.3 ],
       [ 1.6 ],
       [ 1.8 ],
       [ 2.  ],
       [ 2.4 ],
       [ 2.7 ],
       [ 3.1 ],
       [ 3.5 ],
       [ 3.9 ],
       [ 4.25],
       [ 4.65],
       [ 4.9 ],
       [ 5.12],
       [ 5.33],
       [ 5.67],
       [ 5.9 ],
       [ 6.4 ],
       [ 6.65],
       [ 6.9 ],
       [ 7.12],
       [ 7.45],
       [ 7.89],
       [ 8.4 ],
       [ 8.8 ],
       [ 9.7 ],
       [10.5 ],
       [11.3 ],
       [11.9 ],
       [12.6 ],
       [13.11],
       [14.21],
       [14.76],
       [15.47],
       [15.89],
       [16.34],
       [17.5 ],
       [17.67],
       [19.  ],
       [19.5 ],
       [19.9 ]])

In [7]:
y

array([ 1500,  1550,  1560,  1800,  2000,  2300,  2500,  2750,  2900,
        3200,  3650,  3900,  4250,  4600,  4900,  5270,  5700,  5950,
        6120,  6333,  6698,  6920,  7345,  7560,  7999,  8120,  8350,
        8900,  9750, 10250, 11400, 13000, 14100, 14900, 15600, 16250,
       17800, 18450, 19110, 19630, 20870, 21950, 22150, 24650, 28210,
       30100], dtype=int64)

In [8]:
from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.2,random_state=0)

In [9]:
from sklearn.preprocessing import StandardScaler
sc = StandardScaler()
x_train = sc.fit_transform(x_train)
x_test= sc.fit_transform(x_test)

In [11]:
from tensorflow.keras.models import Sequential
from tensorflow.keras.layers import Dense
from sklearn.metrics import mean_squared_error

In [12]:
lr = Sequential()

In [13]:
lr.add(Dense(1,kernel_initializer = "random_uniform",activation = "relu"))

WARNING:tensorflow:From C:\Users\Priyanka\Anaconda3\lib\site-packages\tensorflow\python\keras\initializers.py:119: calling RandomUniform.__init__ (from tensorflow.python.ops.init_ops) with dtype is deprecated and will be removed in a future version.
Instructions for updating:
Call initializer instance with the dtype argument instead of passing it to the constructor

In [14]:
lr.add(Dense(2,kernel_initializer = "random_uniform",activation = "relu"))

In [15]:
lr.add(Dense(2,kernel_initializer = "random_uniform",activation = "relu"))

In [16]:
lr.compile("adam","mean_squared_error",metrics = ["accuracy"])

In [17]:
lr.fit(x_train,y_train,batch_size=2,epochs=10)

Epoch 1/10
36/36 [==============================] - 2s 69ms/sample - loss: 182974355.5556 - acc: 1.0000
Epoch 2/10
36/36 [==============================] - 0s 7ms/sample - loss: 182974356.5556 - acc: 1.0000
Epoch 3/10
36/36 [==============================] - 0s 6ms/sample - loss: 182974352.1111 - acc: 1.0000
Epoch 4/10
36/36 [==============================] - 0s 4ms/sample - loss: 182974355.1111 - acc: 1.0000
Epoch 5/10
36/36 [==============================] - 0s 5ms/sample - loss: 182974353.0000 - acc: 1.0000
Epoch 6/10
36/36 [==============================] - 0s 5ms/sample - loss: 182974353.2222 - acc: 1.0000
Epoch 7/10
36/36 [==============================] - 0s 5ms/sample - loss: 182974356.7778 - acc: 1.0000
Epoch 8/10
36/36 [==============================] - 0s 5ms/sample - loss: 182974354.8889 - acc: 1.0000
Epoch 9/10
36/36 [==============================] - 0s 4ms/sample - loss: 182974357.7778 - acc: 1.0000
Epoch 10/10
36/36 [==============================] - 0s 4ms/sample - loss: 182974354.8889 - acc: 1.0000